@font-face{
	font-family: quicksand;
	src: url(../fonts/quicksand/quicksand.ttf);
}

body { -webkit-touch-callout: none !important; }
a { -webkit-user-select: none !important; }

#loading{
	height: 100vw;
	width: 100vw;
	background-color: white;
}

#pageone h1, #pagetwo h1{
	font-family: quicksand;
}

#tweetlist li{
	margin: 0.6em;
	padding: 0.4em 0.6em;
	font-size: 1.1em;
	text-overflow: initial;
	white-space: initial;
	background-color: #fafafa;
	border-radius: 2px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	color: #222222;
	min-height: 3em;
	display: flex;
	align-items: center;
	border-left: 2px solid #2196F3;
  user-select: none;
}

#textarea{
	height: calc(90vh - 3em);
	border-bottom: none;
	margin: auto;
	padding: 1em;
	font-size: 1.6em;
	line-height: 120%;
	font-family: serif;
	resize: none;
}

#charcount{
	text-align: right;
	display: block;
	font-size: 1.3em;
	font-family: quicksand;
	padding-top: 0.3em;
	padding-right: 1em;
	margin-bottom: 0;
	padding-bottom: 0;
}

#newtweet{
	position: fixed;
	right: 1em;
	bottom: 1em;
	width: 1.45em;
}

#leftpanel{
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

#leftpanel img{
	width: 50%;
	margin: auto;
	display: block;
}

#leftpanel h1{
	font-size: 2em;
	text-align: center;
	padding-bottom: 1em;
	border-bottom: 1px solid #cccccc;
	margin-bottom: 1em;
}

#leftpanel h2{
	font-size: 1.2em;
	text-decoration: none;
	color: #222222;
	display: block;
	width: 100%;
	margin: 0;
	text-align: center;
	line-height: 135%;
}

#leftpanel a{
	margin: auto;
	margin-top: 2em;
	display: block;
	width: 16vw;
	height: 16vw;
	background-image: url(../res/assets/gh.svg);
	background-size: contain;
	z-index: initial;
}

#actions{
	width: 90vw;
	height: 100%;
	-webkit-user-select: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

#actions > div{
	width: 90%;
	position: fixed;
	background-color: white;
	top: 25vh;
}

#popuptweet{
	padding: 1em;
	margin-bottom: 0;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	background-color: #2196F3;
	color: white;
	font-family: sans-serif;
	max-height: 6em;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-user-select: none;
}

#actions a{
	display: flex;
	align-items: center;
	text-transform: initial;
	-webkit-user-select: none;
	height: 2em;
}

#ghosttweet{
	position: fixed;
	right: -1000em;
}